@charset "UTF-8";
*{
    padding: 0;
    margin: 0;
    font-family: '微软雅黑','Microsoft YaHei','SimHei','黑体';
}
.header-wrapper{
    min-width: 1000px;
    background-color: white;
}
.header{
    width: 1000px;
    height: 90px;
    margin: 0 auto;
    border-bottom: 1px solid lightslategray;
}
.logo{
    width: 162px;
    height: 90px;
    float: left;
}
.logo-img{
    width: 50px;
    height: 50px;
    margin-top: 35px;
    float: left;
    background: url("../images/logo.png") center no-repeat;
    background-size: 80%;
}
.logo-title{
    width: 100px;
    height: 50px;
    margin-top: 35px;
    float: right;
    text-align: right;
    line-height: 50px;
    font-size: 24px;
    font-weight: bold;
}
.ul-nav{
    height: 90px;
    list-style: none;
    float:right;
    font-size: 15px;
    margin-right: 0;
}
.header-wrapper .ul-nav li{
    height: 40px;
    width: auto;
    float: left;
    margin-top: 47px;
    padding-left: 22px;
    text-align: right;
}
.ul-nav a{
    text-decoration: none;
    display: block;
    margin-left: 20px;
    width: auto;
    height:40px;
    line-height:40px;
    color: black;
}
.decoration{
    border-bottom:3px solid #D7AF72
}
.ul-nav a:hover{
    text-decoration: none;
    color: #DEAC63;
}
.space{
    width: auto;
    height: 100px;
}
.main-wrapper{
    clear: both;
    min-width: 1000px;
    background: #F1F1F1;
    height: auto;
}
.main{
    width: 1000px;
    height: auto;
    margin: 15px auto auto auto;
}
